html, body {
    height: 100%;
    font-family: Futura;
}
.container-fluid {
	height: 100%;
	width: 100%;
}
.header {
	height: 8%;
	border-bottom: solid 1px #CDD7DC;
}
.content {
	background-color: #FFFFFF;
	height: 87%;
}
.footer {
	height: 5%;
	border-top: solid 1px #CDD7DC;
}
.welcome-label {
	margin-top: 30px;
	text-align: center;
	color: #FFFFFF;
}
.generate {
	margin-top: 100px;
}
.button {
	border: 1px solid #CDD7DC;
	color: #FFFFFF;
}
.button:hover {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-width: 0px;
    cursor: pointer;
    color: #FFFFFF;
}
.no-margin {
	margin-bottom: 0;
	color: #686868;
}
.no-display {
	display: none;
}
